<footer id="footer">
  <ul id="footerUL">
    <li>
      <a href="https://www.linkedin.com/in/angelvalentin1">
        <i
          class="fa fa-linkedin-square"
          style="font-size: 42px"
          aria-hidden="true"
        ></i>
      </a>
    </li>
    <li></li>
    <a href="mailto:angelgvalentin7@gmail.com"
      ><i class="fa fa-envelope" style="font-size: 42px" aria-hidden="true"></i
    ></a>
  </ul>
</footer>
