<nav>
  <button><a href="/home">HOME</a></button>
  <ul>
    <li><a href="/guitars">GUITARS</a></li>
    <li><a href="/pedals">PEDALS</a></li>
    <li><a href="/amps">AMPS</a></li>
    <li><a href="/sellerListings">YOUR LISTINGS</a></li>

    <li><a href="">CART</a></li>
  </ul>
</nav>
